@font-face {
font-family: roboto;
src: url(../fonts/Angel.ttf);
}

@font-face {
font-family: snap;
src: url(../fonts/Roboto.ttf);
}

@font-face {
font-family: lovelo;
src: url(../fonts/Lovelo.otf);
}

html, body {
 height: 100%;
 width: 100%;
 margin: 0px;
 font-family: roboto;
 background-color: white;
 -webkit-transition: background-color 1s linear;
   transition: background-color 1s linear;
}

h1{
  margin: 0px;
  text-align: center;
  font-size: 3em;
  line-height: 0.75;
  font-weight: 100;
}

a{
  text-decoration: none;
  color: rgba(204,62,62,1);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(204,62,62,1);
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.load-screen {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: center no-repeat white;
}

#loadText {
  position: relative;
  top: 51%;
  text-align: center;
  font-size: 2.5em;
}

#preloader6{
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    -webkit-animation: preloader_6 5s infinite linear;
            animation: preloader_6 5s infinite linear;
}
#preloader6 div{
    top: 60%;
    position:absolute;
    display:block;
}
#preloader6 span{
    width: 0;
	  height: 0;
    position:absolute;
    display:block;
    -webkit-animation: preloader_6_span 1s infinite linear;
            animation: preloader_6_span 1s infinite linear;
}
#preloader6 span:nth-child(1){
  left:5px;
  top:-5px;
  border-bottom: 25px solid #3498db;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
      -webkit-animation-delay: .2s;
              animation-delay: .2s;
}
#preloader6 span:nth-child(2){
  left:-10px;
  top:-1px;
  border-bottom: 20px solid #2980b9;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
      -webkit-animation-delay: .6s;
              animation-delay: .6s;
}
#preloader6 span:nth-child(3){
  left:30px;
  top:-1px;
  border-bottom: 20px solid #2980b9;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
      -webkit-animation-delay: .6s;
              animation-delay: .6s;
}
#preloader6 span:nth-child(4){
  left:20px;
  border-bottom: 20px solid #2c3e50;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
#preloader6 span:nth-child(5){
  border-bottom: 20px solid #2c3e50;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

@-webkit-keyframes preloader_6_span {
   0% { -webkit-transform:scale(1); transform:scale(1); }
   50% { -webkit-transform:scale(0.7); transform:scale(0.7); }
   100% { -webkit-transform:scale(1); transform:scale(1); }
}
@keyframes preloader_6_span {
   0% { -webkit-transform:scale(1); transform:scale(1); }
   50% { -webkit-transform:scale(0.7); transform:scale(0.7); }
   100% { -webkit-transform:scale(1); transform:scale(1); }
}

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0,0,0,0.7);
}

#top, #bottom, #left, #right {
	background: white;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 0px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 0px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

#intro-heading {
  top: 5%;
  position: absolute;
  font-size: 5em;
  text-align: center;
  width: 100%;
  color: rgba(230,90,90,1);
}

.red {
  color: rgba(230,90,90,1);
}

#intro-change {
  position: absolute;
  top: 15%;
  width:100%;
  text-align: center;
  font-size: 3em;
  color: #f39c12;
}

#introbtn {
  /*background-size: cover;*/
  z-index: 50;
  background-image: url(../images/introbtn.svg);
  position: absolute;
  border-radius: 50%;
  height:60px;
  width: 60px;
  margin-left: -30px;
  margin-top: -30px;
  box-shadow: 0px 2px 2px rgba(80,80,80,0.4);
  bottom: 10%;
  left: 50%;
  cursor: pointer;
}

.introbody {
  position: absolute;
  bottom: 15%;
  left:10%;
  width: 80%;
  font-size: 2.8em;
  text-align: center;
}

#aboutwrapper {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  z-index: 50;
  /*background-color: #fafafa;*/
  background-color: #ecf0f1;
  border-radius: 2px;
  text-align: center;
  overflow: auto;
}

.messageholder {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  z-index: 10000;
  background-color: #fa4a4a;
  border-radius: 2px;
  text-align: center;
  overflow: auto;
  display: none;
}

#browsermessage {
  color: white;
  font-size: 3em;
  padding: 5%;
}

#acceptbtn{
  color: rgba(184,32,32,1);
  font-size: 3em;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgba(204,62,62,1);
}

a:hover {
  text-decoration: none;
}

#closebtn {
  top: 2%;
  margin-left: -25px;
  left: 50%;
  background-size: cover;
  background-image: url(../images/closebtn.svg);
}

#closebtn:active {
  background-image: url(../images/closebtnactive.svg);
}

.gradient {
  height:100%;
  width:100%;
  background: -webkit-radial-gradient(circle, rgba(255,255,255,0.4), rgba(255,255,255,0));
  background: radial-gradient(circle, rgba(255,255,255,0.4), rgba(255,255,255,0));
}

#name {
  position: absolute;
  top:70%;
  left:50%;
  width:90%;
  text-align: center;
  margin-left:-45%;
  color: white;
}

.wrapper {
 width: 100%;
 display: inline-block;
 position: relative;
 background-size: cover;
}

.wrapper:after {
    padding-top: 60%; /*5:3 ratio*/
    display: block;
    content: '';
}

.shard {
  height:100%;
  position: absolute;
  width: 100%;
  -webkit-transition: all 1s cubic-bezier(0.51, 0, 0, 1);
          transition: all 1s cubic-bezier(0.51, 0, 0, 1);
     -moz-trasistion: all 1s cubic-bezier(0.51, 0, 0, 1);
}

.shimmerlayer {
  height: 100%;
  width: 100%;
}

.shine {
  -webkit-animation: shimmer 0.8s 0.07s forwards;
  animation: shimmer 0.8s 0.07s forwards;
}

@-webkit-keyframes shimmer {
  0% {
    background-color: rgba(255, 255, 255, 0.0); }
  35% {
    background-color: rgba(255, 255, 255, 0.1); }
  100% {
    background-color: rgba(255, 255, 255, 0.0); } }

.holder1 {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}

.circlebtn {
  background-size: cover;
  z-index: 50;
  position: absolute;
  border-radius: 50%;
  height:60px;
  width: 60px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.circlebtn:active{
  box-shadow: 0px;
}

#about {
  top: 3%;
  left: 20%;
  margin-left: -25px;
  background-image: url(../images/aboutbtn.svg);
}

#about:active {
  background-image: url(../images/aboutbtnactive.svg);
}

#info {
  top: 2%;
  left: 50%;
  margin-left: -30px;
  height: 60px;
  width: 60px;
  background-image: url(../images/infobtn.svg);
}

#info:active {
  background-image: url(../images/infobtnactive.svg);
}

#shuffle {
  top: 3%;
  right: 20%;
  margin-right: -25px;
  -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.shuffleoff {
  background-image: url(../images/shuffle.svg);
}

.shuffleon {
  background-image: url(../images/stop4.svg);
}

#prev {
  bottom: 4%;
  left:5%;
  background-image: url(../images/arrow40.svg);
}

#next {
  bottom: 4%;
  right:5%;
  background-image: url(../images/arrow39.svg);
}

#counter {
    position: absolute;
    bottom: 4%;
    left:50%;
    width:80%;
    text-align: center;
    margin-left:-40%;
    font-size:3em;
    color:white;
}

/*phones*/
@media(max-width:460px){
  #name {
    top:70%;
    font-size:3.9em;
  }
  .holder1 {
    padding-top: 33%;
    height: 0;
  }
}
/*tabs*/
@media(min-width:461px){
  #left, #right {
		width: 7px;
	}
  #top, #bottom {
  	height: 7px;
  }

  .holder1{
    bottom: -3%;
    height: 70%;
    width: 80%;
  }

  #about {
    left: 10%;
  }

  #info {
    top: 3%;
  }

  #shuffle {
    right: 10%;
  }

  #prev {
    bottom: 45%;
  }

  #next {
    bottom: 45%;
  }

  #counter {
      top: 90%;
  }

  #name{
    top: 80%;
    font-size: 5.3em;
  }

  #intro-heading {
    top: 5%;
  }

  #intro-change {
    top: 12%;
  }

}
/*desktop*/
@media(min-width:992px){
  .holder1{
    width: 60%;
  }

  #left, #right {
		width: 10px;
	}
  #top, #bottom {
  	height: 10px;
  }
}
/*large screens*/
@media(min-width:1200px){}
  .sub{
    margin: 0;
  }

  .button{
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 40px;
    font-family: lovelo;
    line-height: 60px;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }

  #infobtn::before{
    content: "?";
    color: #c0392b;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }

  #infobtn.expand::before{
    content: "x";
    font-size: 25px;
    line-height: 30px;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }

  #aboutbtn::before{
    content: "!";
    color: #c0392b;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }

  #aboutbtn.expand::before{
    content: "x";
    font-size: 25px;
    line-height: 30px;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }

  #shufflebtn{
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 40px;
    font-family: lovelo;
    line-height: 60px;
  }

  #shufflebox{
      position: absolute;
      top: 3vh;
      background-size: cover;
      background-color: white;
      opacity: 0.75;
      border-radius: 50%;
      width: 60px;
      max-width: 60px;
      height: 60px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
      overflow: hidden;
      left:auto;
      right: 5%;
  }
  
  .status{
    font-family: lovelo;
    font-size: 30px;
  }

  .container {
    position: absolute;
    top: 3vh;
    z-index: 50;
    background-color: #FFFFFF;
    opacity: 0.75;
    border-radius: 50%;
    max-height: 92%;
    width: 60px;
    max-width: 60px;
    height: 60px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
    overflow: hidden;

    transition: all 0.2s 0.45s,
                height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s,
                max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s,
                width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
  }
  #infobox{
    margin: auto;
    left: 0;
    right: 0;
  }
  #aboutbox{
    left: 5%;
    right: auto;
  }

  .container.expand {
    opacity: 1;
    z-index: 51;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.17);
    border-radius: 0;
    width: 90%;
    height: inherit;
    max-height: 92%;
    max-width: 700px;
    padding: 0;
    overflow-y: scroll;
    transition: all 0.2s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s, height 0.3s ease 0.25s;
  }

  .content {
    transform: translateY(100%);
    width: 94%;
    margin-left: 3%;
    opacity: 0;
    text-align: left;

    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s 0.2s;
  }
  .content.expand {
    transform: translateY(0px);
    opacity: 1;
    transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.05s, opacity 0s;
  }

  .content .body {
    color: #2e2e2e;
    background-color: #FFF;
    width: 100%;
    font-family: snap;
    font-weight: 100;
    font-size: 14px;
    height: 100%;
    box-sizing: border-box;
  }
