@font-face {
font-family: roboto;
src: url(../fonts/Lovelo.otf);
}

html, body {
 height: 100%;
 width: 100%;
 margin: 0px;
 font-family: roboto;
 background-color: white;
 -webkit-transition: background-color 1s linear;
   transition: background-color 1s linear;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(204,62,62,1);
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.load-screen {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: center no-repeat white;
}

#loadText {
  position: relative;
  top: 51%;
  text-align: center;
}

#preloader6{
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    -webkit-animation: preloader_6 5s infinite linear;
            animation: preloader_6 5s infinite linear;
}
#preloader6 div{
    top: 60%;
    position:absolute;
    display:block;
}
#preloader6 span{
    width: 0;
	  height: 0;
    position:absolute;
    display:block;
    -webkit-animation: preloader_6_span 1s infinite linear;
            animation: preloader_6_span 1s infinite linear;
}
#preloader6 span:nth-child(1){
  left:5px;
  top:-5px;
  border-bottom: 25px solid #3498db;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
      -webkit-animation-delay: .2s;
              animation-delay: .2s;
}
#preloader6 span:nth-child(2){
  left:-10px;
  top:-1px;
  border-bottom: 20px solid #2980b9;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
      -webkit-animation-delay: .6s;
              animation-delay: .6s;
}
#preloader6 span:nth-child(3){
  left:30px;
  top:-1px;
  border-bottom: 20px solid #2980b9;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
      -webkit-animation-delay: .6s;
              animation-delay: .6s;
}
#preloader6 span:nth-child(4){
  left:20px;
  border-bottom: 20px solid #2c3e50;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
#preloader6 span:nth-child(5){
  border-bottom: 20px solid #2c3e50;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

@-webkit-keyframes preloader_6_span {
   0% { -webkit-transform:scale(1); transform:scale(1); }
   50% { -webkit-transform:scale(0.7); transform:scale(0.7); }
   100% { -webkit-transform:scale(1); transform:scale(1); }
}
@keyframes preloader_6_span {
   0% { -webkit-transform:scale(1); transform:scale(1); }
   50% { -webkit-transform:scale(0.7); transform:scale(0.7); }
   100% { -webkit-transform:scale(1); transform:scale(1); }
}

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0,0,0,0.7);
}

#top, #bottom, #left, #right {
	background: white;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 0px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 0px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

#intro-heading {
  top: 10%;
  position: absolute;
  font-size: 2em;
  text-align: center;
  width: 100%;
  color: rgba(230,90,90,1);
}

.red {
  color: rgba(230,90,90,1);
}

#intro-change {
  position: absolute;
  top: 18%;
  width:100%;
  text-align: center;
  font-size: x-large;
  color: #f39c12;
}

#introbtn {
  /*background-size: cover;*/
  z-index: 50;
  background-image: url(../images/introbtn.svg);
  position: absolute;
  border-radius: 50%;
  height:60px;
  width: 60px;
  margin-left: -30px;
  margin-top: -30px;
  box-shadow: 0px 2px 2px rgba(80,80,80,0.4);
  bottom: 10%;
  left: 50%;
  cursor: pointer;
}

.introbody {
  position: absolute;
  bottom: 15%;
  left:10%;
  width: 80%;
  text-align: center;
}

#aboutwrapper {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  z-index: 50;
  /*background-color: #fafafa;*/
  background-color: #ecf0f1;
  border-radius: 2px;
  text-align: center;
  overflow: auto;
}

.messageholder {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  z-index: 10000;
  background-color: #fa4a4a;
  border-radius: 2px;
  text-align: center;
  overflow: auto;
  display: none;
}

#browsermessage {
  color: white;
  font-size: 1.2em;
  padding: 5%;
}

#acceptbtn{
  color: rgba(184,32,32,1);
  font-size: 1.3em;
  cursor: pointer;
}

#detailheader {
  margin-top: 70px;
  margin-bottom: 0px;
  font-size: 24px;
  color: rgba(204,62,62,1);
}

#detailbody {
  font-size: large;
}

#detailbody a {
  text-decoration: none;
  color: rgba(204,62,62,1);
}

#detailbody a:hover {
  text-decoration: none;
}

#closebtn {
  top: 2%;
  margin-left: -25px;
  left: 50%;
  background-size: cover;
  background-image: url(../images/closebtn.svg);
}

#closebtn:active {
  background-image: url(../images/closebtnactive.svg);
}

.gradient {
  height:100%;
  width:100%;
  background: -webkit-radial-gradient(circle, rgba(255,255,255,0.4), rgba(255,255,255,0));
  background: radial-gradient(circle, rgba(255,255,255,0.4), rgba(255,255,255,0));
}

#name {
  position: absolute;
  top:70%;
  left:50%;
  width:80%;
  text-align: center;
  margin-left:-40%;
  font-size:1.8em;
  color: white;
}

.wrapper {
 width: 100%;
 display: inline-block;
 position: relative;
 background-size: cover;
}

.wrapper:after {
    padding-top: 60%; /*5:3 ratio*/
    display: block;
    content: '';
}

.shard {
  height:100%;
  position: absolute;
  width: 100%;
  -webkit-transition: all 1s cubic-bezier(0.51, 0, 0, 1);
          transition: all 1s cubic-bezier(0.51, 0, 0, 1);
     -moz-trasistion: all 1s cubic-bezier(0.51, 0, 0, 1);
}

.shimmerlayer {
  height: 100%;
  width: 100%;
}

.shine {
  -webkit-animation: shimmer 0.8s 0.07s forwards;
  animation: shimmer 0.8s 0.07s forwards;
}

@-webkit-keyframes shimmer {
  0% {
    background-color: rgba(255, 255, 255, 0.0); }
  35% {
    background-color: rgba(255, 255, 255, 0.1); }
  100% {
    background-color: rgba(255, 255, 255, 0.0); } }

.holder1 {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}

.circlebtn {
  background-size: cover;
  z-index: 50;
  position: absolute;
  border-radius: 50%;
  height:50px;
  width: 50px;
  font-size: xx-large;
  cursor: pointer;
  /*box-shadow: 0px 2px 2px rgba(80,80,80,0.4);*/
}

#about {
  top: 3%;
  left: 20%;
  margin-left: -25px;
  background-image: url(../images/aboutbtn.svg);
}

#about:active {
  background-image: url(../images/aboutbtnactive.svg);
}

#info {
  top: 2%;
  left: 50%;
  margin-left: -30px;
  height: 60px;
  width: 60px;
  background-image: url(../images/infobtn.svg);
}

#info:active {
  background-image: url(../images/infobtnactive.svg);
}

#shuffle {
  top: 3%;
  right: 20%;
  margin-right: -25px;
  -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.shuffleoff {
  background-image: url(../images/shufflebtn.svg);
}

.shuffleon {
  background-image: url(../images/stopshufflebtn.svg);
}

#prev {
  bottom: 4%;
  margin-left: -25px;
  left:10%;
  background-image: url(../images/prevbtn.svg);
}

#prev:active {
  background-image: url(../images/prevbtnactive.svg);
}

#next {
  bottom: 4%;
  margin-right: -25px;
  right:10%;
  background-image: url(../images/nextbtn.svg);
}

#next:active {
  background-image: url(../images/nextbtnactive.svg);
}

#counter {
    position: absolute;
    bottom: 4%;
    left:50%;
    width:80%;
    text-align: center;
    margin-left:-40%;
    font-size:1.3em;
    color:white;
}

/*phones*/
@media(max-width:460px){
  #name {
    top:70%;
    font-size:1.7em;
  }
  .holder1 {
    padding-top: 33%;
    height: 0;
  }
}
/*tabs*/
@media(min-width:461px){
  #left, #right {
		width: 7px;
	}
  #top, #bottom {
  	height: 7px;
  }

  .holder1{
    bottom: -3%;
    height: 70%;
    width: 80%;
  }

  #about {
    left: 10%;
  }

  #info {
    top: 3%;
  }

  #shuffle {
    right: 10%;
  }

  #prev {
    bottom: 45%;
  }

  #next {
    bottom: 45%;
  }

  #counter {
      top: 90%;
  }

  #name{
    top: 80%;
    font-size: 2.3em;
  }

  #intro-heading {
    top: 5%;
  }

  #intro-change {
    top: 12%;
  }

}
/*desktop*/
@media(min-width:992px){
  .holder1{
    width: 60%;
  }

  #left, #right {
		width: 10px;
	}
  #top, #bottom {
  	height: 10px;
  }
}
/*large screens*/
@media(min-width:1200px){}

/*.shard:nth-child(1) {
  -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
    z-index: -31;
}

.shard:nth-child(2) {
  -webkit-transition-delay: 30ms;
    -moz-transition-delay: 30ms;
    -o-transition-delay: 30ms;
    transition-delay: 30ms;
    z-index: -30;
}
.shard:nth-child(3) {
  -webkit-transition-delay: 60ms;
    -moz-transition-delay: 60ms;
    -o-transition-delay: 60ms;
    transition-delay: 60ms;
    z-index: -29;
}

.shard:nth-child(4) {
  -webkit-transition-delay: 90ms;
    -moz-transition-delay: 90ms;
    -o-transition-delay: 90ms;
    transition-delay: 90ms;
    z-index: -28;
}

.shard:nth-child(5) {
  -webkit-transition-delay: 120ms;
    -moz-transition-delay: 120ms;
    -o-transition-delay: 120ms;
    transition-delay: 120ms;
    z-index: -27;
}

.shard:nth-child(6) {
  -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
    z-index: -26;
}

.shard:nth-child(7) {
  -webkit-transition-delay: 180ms;
    -moz-transition-delay: 180ms;
    -o-transition-delay: 180ms;
    transition-delay: 180ms;
    z-index: -25;
}

.shard:nth-child(8) {
  -webkit-transition-delay: 210ms;
    -moz-transition-delay: 210ms;
    -o-transition-delay: 210ms;
    transition-delay: 210ms;
    z-index: -24;
}

.shard:nth-child(9) {
  -webkit-transition-delay: 240ms;
    -moz-transition-delay: 240ms;
    -o-transition-delay: 240ms;
    transition-delay: 240ms;
    z-index: -23;
}

.shard:nth-child(10) {
  -webkit-transition-delay: 270ms;
    -moz-transition-delay: 270ms;
    -o-transition-delay: 270ms;
    transition-delay: 270ms;
    z-index: -22;
}

.shard:nth-child(11) {
  -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    z-index: -21;
}

.shard:nth-child(12) {
  -webkit-transition-delay: 330ms;
    -moz-transition-delay: 330ms;
    -o-transition-delay: 330ms;
    transition-delay: 330ms;
    z-index: -20;
}

.shard:nth-child(13) {
  -webkit-transition-delay: 360ms;
    -moz-transition-delay: 360ms;
    -o-transition-delay: 360ms;
    transition-delay: 360ms;
    z-index: -19;
}

.shard:nth-child(14) {
  -webkit-transition-delay: 390ms;
    -moz-transition-delay: 390ms;
    -o-transition-delay: 390ms;
    transition-delay: 390ms;
    z-index: -18;
}

.shard:nth-child(15) {
  -webkit-transition-delay: 420ms;
    -moz-transition-delay: 420ms;
    -o-transition-delay: 420ms;
    transition-delay: 420ms;
    z-index: -17;
}

.shard:nth-child(16) {
  -webkit-transition-delay: 450ms;
    -moz-transition-delay: 450ms;
    -o-transition-delay: 450ms;
    transition-delay: 450ms;
    z-index: -16;
}

.shard:nth-child(17) {
  -webkit-transition-delay: 480ms;
    -moz-transition-delay: 480ms;
    -o-transition-delay: 480ms;
    transition-delay: 480ms;
    z-index: -15;
}

.shard:nth-child(18) {
  -webkit-transition-delay: 510ms;
    -moz-transition-delay: 510ms;
    -o-transition-delay: 510ms;
    transition-delay: 510ms;
    z-index: -14;
}

.shard:nth-child(19) {
  -webkit-transition-delay: 540ms;
    -moz-transition-delay: 540ms;
    -o-transition-delay: 540ms;
    transition-delay: 540ms;
    z-index: -13;
}

.shard:nth-child(20) {
  -webkit-transition-delay: 570ms;
    -moz-transition-delay: 570ms;
    -o-transition-delay: 570ms;
    transition-delay: 570ms;
    z-index: -12;
}

.shard:nth-child(21) {
  -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms;
    z-index: -11;
}

.shard:nth-child(22) {
  -webkit-transition-delay: 630ms;
    -moz-transition-delay: 630ms;
    -o-transition-delay: 630ms;
    transition-delay: 630ms;
    z-index: -10;
}

.shard:nth-child(23) {
  -webkit-transition-delay: 660ms;
    -moz-transition-delay: 660ms;
    -o-transition-delay: 660ms;
    transition-delay: 660ms;
    z-index: -9;
}

.shard:nth-child(24) {
  -webkit-transition-delay: 690ms;
    -moz-transition-delay: 690ms;
    -o-transition-delay: 690ms;
    transition-delay: 690ms;
    z-index: -8;
}

.shard:nth-child(25) {
  -webkit-transition-delay: 720ms;
    -moz-transition-delay: 720ms;
    -o-transition-delay: 720ms;
    transition-delay: 720ms;
    z-index: -7;
}

.shard:nth-child(26) {
  -webkit-transition-delay: 750ms;
    -moz-transition-delay: 750ms;
    -o-transition-delay: 750ms;
    transition-delay: 750ms;
    z-index: -6;
}

.shard:nth-child(27) {
  -webkit-transition-delay: 780ms;
    -moz-transition-delay: 780ms;
    -o-transition-delay: 780ms;
    transition-delay: 780ms;
    z-index: -5;
}

.shard:nth-child(28) {
  -webkit-transition-delay: 810ms;
    -moz-transition-delay: 810ms;
    -o-transition-delay: 810ms;
    transition-delay: 810ms;
    z-index: -4;
}

.shard:nth-child(29) {
  -webkit-transition-delay: 840ms;
    -moz-transition-delay: 840ms;
    -o-transition-delay: 840ms;
    transition-delay: 840ms;
    z-index: -3;
}

.shard:nth-child(30) {
  -webkit-transition-delay: 870ms;
    -moz-transition-delay: 870ms;
    -o-transition-delay: 870ms;
    transition-delay: 870ms;
    z-index: -2;
}*/
